<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script src="{{url_for('static', filename='/libraries/socket.io.min.js')}}"></script>
<script src="{{url_for('static', filename='/libraries/Chart.min.js')}}"></script>

<script src="{{url_for('static', filename='/javascript/grafik1.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='/css/style1.css')}}">

<body>

<div class="flex-container">
  <div class="div1">
    <span>Temel Görünüm</span>
  </div>
  <div class="div2">
    <span>1. Grafik</span>
  </div>
  <div class="div3">
    <span>2. Grafik</span>
  </div>
  <div class="div4">
    <canvas id="grafik1" class="can1" ></canvas>
  </div>
  <div class="div5">
    <canvas id="grafik2" class="can2" ></canvas>
  </div>
</div> 

<script>

// chart1_data ve chart1_options grafik1.js ten geliyor
let myChart1=new Chart("grafik1", {
    type: "line",
    data: chart1_data,
    options: chart1_options 
  });

// chart2_data ve chart2_options grafik1.js ten geliyor
let myChart2=new Chart("grafik2", {
    type: "line",
    data: chart2_data,
    options:chart2_options 
  });


var xxx=0;
var yyy=0;
var zzz=0;

function sanal_data_olustur(){
// grafik cizmek icin sanal data olusturuyorum
xxx=xxx+1;
yyy=Math.sin(xxx)//grafik1 icin
zzz=Math.cos(xxx)//grafik2 icin
}

function grafik1js_data1_guncelle(){
// data1  grafik.js ten geliyor
data1["x"].push(xxx);
data1["y"].push(yyy);

if (data1["x"].length >10){
    data1["x"].shift();
    data1["y"].shift();
                }
}

function grafik1js_data2_guncelle(){
// data2  grafik.js ten geliyor
data2["x"].push(xxx);
data2["y"].push(zzz);

if (data2["x"].length >10){
    data2["x"].shift();
    data2["y"].shift();
                }
}


// 100ms de bir tekrarlanir
setInterval(function(){
  
sanal_data_olustur();
grafik1js_data1_guncelle();
grafik1js_data2_guncelle()

myChart1.update();
myChart2.update();

     } , 100 );


</script>
</body>
</html>