<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<script src="{{url_for('static', filename='/libraries/Chart.min.js')}}"></script>
<script src="{{url_for('static', filename='/libraries/socket.io.min.js')}}"></script>
<script src="{{url_for('static', filename='/javascript/grafik1.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='/css/style1.css')}}">

<body>

<div class="flex-container">
  <div class="div1">
    <span>Temel Görünüm</span>
  </div>
  <div class="div2">
    <span> Grafik</span>
  </div>
  </div>
  <div class="div3">
    <canvas id="grafik1" class="can1" ></canvas>
  </div>

</div> 

<script>
var socket = io.connect('http://' + document.domain + ':' + location.port);


// chart1_data ve chart1_options grafik1.js ten geliyor
let myChart1=new Chart("grafik1", {
    type: "line",
    data: chart1_data,
    options: chart1_options 
  });


function grafik1js_data1_guncelle(x1,y1){
// data1  grafik.js ten geliyor
data1["x"].push(x1);
data1["y"].push(y1);

if (data1["x"].length >10){
    data1["x"].shift();
    data1["y"].shift();
                }
}


socket.on( 'server_data', function(data) {
    grafik1js_data1_guncelle(data["x"],data["y"])
    myChart1.update();
    } );




</script>
</body>
</html>