<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<script src="{{url_for('static', path='libraries/Chart.min.js')}}"></script>
<script src="{{url_for('static', path='javascript/grafik1.js')}}"></script>
<script src="{{url_for('static', path='css/style1.js')}}"></script>

<body>

<div class="flex-container">
  <div class="div1">
    <span>Temel Görünüm</span>
  </div>
  <div class="div2">
    <span> Grafik</span>
  </div>
  </div>
  <div class="div3">
    <canvas id="grafik1" class="can1" ></canvas>
  </div>

</div> 

<script>



// chart1_data ve chart1_options grafik1.js ten geliyor
let myChart1=new Chart("grafik1", {
    type: "line",
    data: chart1_data,
    options: chart1_options 
  });


function grafik1js_data1_guncelle(x1,y1){
// data1  grafik.js ten geliyor
data1["x"].push(x1);
data1["y"].push(y1);

if (data1["x"].length >100){
    data1["x"].shift();
    data1["y"].shift();
                }
}




const ws = new WebSocket("ws://127.0.0.1:8000/ws"); 

ws.onmessage = function(event) {
  grafik1js_data1_guncelle(event.data["x"],event.data["y"])
  myChart1.update()
} 


</script>
</body>
</html>